.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.banner__image {
  object-fit: cover;
  width: 1500px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0)
  );
}

.banner > h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.banner__card-container {
  display: flex;
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 0 15px;
  min-width: 800px;
}

@media (max-width: 1330px) {
  .banner__image {
    transform: translateX(-70px);
  }
}

@media (max-width: 1260px) {
  .banner__image {
    transform: translateX(-190px);
  }
}

@media (max-width: 1000px) {
  .banner__image {
    transform: translateX(-250px);
  }
}

@media (max-width: 870px) {
  .banner__image {
    transform: translateX(-310px);
  }
}

@media (max-width: 830px) {
  .banner__image {
    transform: translateX(-345px);
  }

  .card:last-child {
    display: none;
  }
}
