.card {
  background-color: #fff;
  margin: 0 5px;
  color: #0f1111;
  height: 410px;
  text-align: left;
  width: 100%;
  /* min-width: 250px; */
}

.card__info {
  padding: 25px 20px;
  height: 100%;
  position: relative;
}

.card__title {
  font-size: 21px;
  margin-bottom: 25px;
}

.card__img {
  width: 100%;
  max-height: 242px;
  margin-bottom: 5px;
  cursor: pointer;
  object-fit: contain;
}

.card__caption {
  font-size: 12px;
}

.card__link {
  position: absolute;
  bottom: 20px;
  color: #0066c0;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
}

.card__link:hover {
  text-decoration: underline;
}

@media (max-width: 830px) {
  .card:last-child {
    display: none;
  }
}

@media (max-width: 750px) {
  .card:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 425px) {
  .card:nth-of-type(2) {
    display: none;
  }
}
