.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}

.checkout__ad {
  margin: 20px;
  width: 90%;
}

.basket__empty {
  display: flex;
  align-items: center;
  margin: 20px;
}

.basket__empty-info {
  margin-left: 40px;
}

.basket__not__empty {
  margin: 0px 20px 10px 20px;
}

.checkout__title {
  padding: 10px;
  margin: 0px 30px 20px 30px;
  border-bottom: 1px solid lightgray;
}

@media (max-width: 700px) {
  .checkout {
    flex-direction: column;
  }

  .checkout__right {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    width: 85%;
  }
}

@media (max-width: 600px) {
  .basket__empty {
    flex-direction: column;
  }

  .basket__empty img {
    width: 60%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .checkout__ad {
    margin: 10px;
  }

  .checkoutProduct {
    align-items: center;
    justify-content: center;
  }

  .checkoutProduct__info {
    padding-left: 0 !important;
  }

  .checkout__right {
    width: 100%;
  }

  .subtotal {
    width: 100% !important;
  }

  .subtotal__gift {
    margin-top: 10px;
  }
}
