.product__home-row:first-child {
  /* margin-top: 20px; */
}

.product__home-row {
  display: flex;
  margin: 0 10px;
  justify-content: center;
}

.product__home > h2 {
  margin: 0 20px;
  padding: 10px;
  background-color: #fff;
}
